#skillsTable{
    margin-top: 200px;
}
.skill-field{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    width: 85%;
    text-align: center;
    display: inline-block;
    background-color: white; 
    color: black; 
    border: 1px solid #4CAF50;

}
.btn {
    float: right;
}
{
    background-color: #4CAF50;
}