#skillsTable{
    margin-top: 200px;
}
thead{
    background-color: rgb(91, 194, 235);
    text-align: center;
}
.skill-field{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    width: 85%;
    text-align: center;
    display: inline-block;
    background-color: white; 
    color: black; 
    border: 1px solid #4CAF50;

}
.btn {
    float: right;
}
.delete {
    color: red;
    cursor: pointer;
    padding: 12px 16px;
    margin-right: 20px;
}
.delete:hover {
    color: white;
    background:rgba(241, 0, 0, 0.62);
}